language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
branches:
  only:
  - master
script:
  - npm run build
after_success:
  - npm run deploy
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  email: aproragadozo@gmail.com
  keep_history: true
  on:
    branch: master
env:
  global:
    secure: "JEgFAjnNpuXoEajZkbUCF81SYJjDbD4Gwz7/3Fj8B0sSUGIIvmSfAf5nmH+uLrgx2p1as94rIcKLqu8/RoXUbuwPL2N8MZxZwFtugL10B0vSy62+mJTbsWXOkfT0QspDNp+ebUyUXJGuPGVBsJUpzMVbPdwtbjXyg94FGWs/FGOSo5i9wKNej4KH8zxW8JZMoWgbZIJEo42PevtWF7a+0+B/6i1+npAclHXKBThidLTPiwQl9nMZhk5PuoHpFAJLMU04c03msCv4TQtf82TM3CEPlNqC1GTBJIhXEdT1wvZQ6VpACwplQmVAiCHl9ABG8cWYmCjIy7spff5JfQ4mxU8N+kJ1M7mScPOfbPmpQo8j8r5pGMnxfhH5rgQpi4yPzqn1LwZE81yvck9M6i4Eynqc8S75KBiiwKndU3npdYzpB6NwyPPufBP+IlRvBGaVhE7jEnWsU5aKcRENVUTAZNSuNn1alIZV08gFHaNnGxZfWC4hYb+7EjsO5jcv7jzRgv9zh1SvFAEVNX0ux9F4FmpIQjwBKBmssE5ZyU4sJ2U3/Xl73mMQA8gD5lJlORSIIjNjr3pngNwOvxZQBgAsn+0jzkMhyXDIMHAY/s/gtBCLxYu40u0XDm32iBlkOzLUETfuQrUIq92YkWBnKU2ufziYvUUYYWAWy35qKohE8KQ="
    CI: false